@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root{  
    //PRIMARIOS
    --Lightred: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    //GRADIENTS

    //background
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    //circle
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    //neutral
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease-in-out;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
}

.card{
    min-width: 26rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .box-Result{  
        padding-top: 3rem;  
        padding-bottom: 3.8rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background: linear-gradient(380deg, var(--Light-royal-blue),var(--Light-slate-blue));
        border-bottom-left-radius: 3.3rem;
        border-bottom-right-radius: 3.3rem;

        .box-Result-title{
            text-align: center;
            font-weight: 700;
            font-size: 1.6rem;
            color: var(--Light-lavender);
        }

        .box-circle{
            margin-top: 2.5rem;
            display: flex;
            justify-content:center;
            align-items:center;
            width: 12.8rem;
            height: 12.8rem;
            border-radius:50%;
            background:linear-gradient(to bottom,var(--Violet-blue),var(--Persian-blue));
            
            .number{
                display: block;
                font-size: 4.8rem;
                font-weight: 800;
                color:var(--White);
                span{
                    text-align: center;
                    display: block;
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: var(--Light-lavender);
                }
            }
        }

        .box-Result-text{
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: 500;
            color:var(--White); 
        }

        .paragraph{
            margin-top: 1.1rem;
            color: var(--Light-lavender);
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2.1rem;
            padding: 0 6rem;
        }
    }

    .box-summary{
        display: flex;
        flex-direction: column;
        padding: 1.8rem 3rem 2rem 3rem;
        .title{
            font-size:1.8rem;
            font-family: 700;
            color:var(--Dark-gray-blue);
            margin-bottom: 2.4rem;
        }
        .box-score{
            margin-bottom: 1.2rem;
            display: flex;
            align-items: center;
            height: 5rem;
            border-radius: 0.9rem;
            padding: 0 1.4rem 0 1.3rem;
            img{
                width: 1.8rem;
                margin-right: 1rem;
            }
            .text{
                flex: 1;
                font-size:1.4rem;
                font-weight: 700;
               
            }
            .score{ 
                font-size: 1.4rem;
                font-weight: 700;
                color: var(--Dark-gray-blue);  
                span{
                    color: rgb(179, 175, 175);
                }       
            }  
        }
        .rojo{
            color: var(--Lightred);
            background: hsla(0, 100%, 67%, 0.071);
        }

        .amarillo{
            color: var(--Orangey-yellow);
            background-color: hsla(39, 100%, 56%, 0.073);
        }

        .verde{
            color: var(--Green-teal);
            background-color: hsla(166, 100%, 37%, 0.073);
        }

        .azul{
            color: var(--Cobalt-blue);
            background-color: hsla(234, 85%, 45%, 0.075);
        }


        button{
            margin-top: 1.1rem;
            border: none;
            height: 5.1rem;
            border-radius: 3rem;
            font-size: 1.6rem;
            font-weight: 700;
            letter-spacing: 0.05rem;
            color: var(--Pale-blue);
            background-color: var(--Dark-gray-blue);
        }
    }

}

@media only screen and (min-width:550px){
    .container{
        min-height: 100vh;
        justify-content: center;
        align-items:center;
        padding: 2rem;
        
    }
    .card{
       max-width: 65rem;
       flex-direction: row;
       background-color: var(--White);
       box-shadow: 0.1rem 0 6rem hsla(241, 81%, 54%, 0.195);
       border-radius: 3rem;
        .box-Result{
            width: 50%;
            padding-top: 4rem;
            padding-bottom: 5rem;
            border-bottom-left-radius: 0rem;
            border-top-right-radius:3rem;
            border-bottom-right-radius: 3rem;   
            .box-Result-title{
                font-size: 1.8rem;
            }
            .box-circle{
                margin-top: 3rem;
                width: 15.8rem;
                height: 15.8rem;
            }
            .box-Result-text{
                margin-top: 3rem;
                font-size: 2.4rem;
            }
            .paragraph{
                margin-top: 1.5rem;
                font-size: 1.5rem;
                padding: 0 5.5rem;
            }
        }
        .box-summary{
            padding-top: 3.5rem;
            width: 50%;
            button{
                height: 4.7rem;
                margin-top: 2.1rem;
            }
        }
    }   
}


